.game-container {
    padding: 0 0 1% 0;
    margin: auto 0.3% auto auto;
    width: 80%;
    height: 90%;
    min-height: 800px;
}

.credits {
    width: 50%;
    margin: auto;
    color: rgb(184, 184, 184);
}