.game-container {
    margin: 0.3% auto auto 25%;
    width: 1250px;
    height: 850px;
}

.credits {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 1.5% auto;
    color: rgb(184, 184, 184);
    z-index: -1;
}